.bg-primary{
  background: #1A1A1B !important;
  color: #ffffff !important;
}

.bg-secondary{
  background: #393E46 !important;
  color: #ffffff !important;
}

.bg-dark{
  background: #030303 !important;
  color: #ffffff !important;
}

.home-wrapper{
  min-height: 100vh;
}