* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
  text-decoration: none;
}

.bg-primary {
  background-color: #232b32 !important;
  color: #ffffff !important;
}

.bg-secondary {
  background-color: #393e46 !important;
  color: #ffffff !important;
}

.bg-dark {
  background-color: #152028 !important;
  color: #ffffff !important;
}

.home-wrapper {
  min-height: 100vh;
  position: relative;
}

.btn-primary {
  background: #ffffff !important;
  color: #1a1a1b !important;
  border-color: #1a1a1b;
}
.btn-primary:hover {
  background: #393e46 !important;
  color: #ffffff !important;
  border-color: #ffffff;
}

.rounded {
  border-radius: 1rem !important;
}

.shadow-dark {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
